<h1>請輸入以下數值</h1>
<form action="/calc/bmi/result" method="post">
  身高<input type="text" name="height" />cm <br />
  體重<input type="text" name="weight" />Kg<br />
  <input type="submit" value="提交資料" />
</form>
