* {
  margin: 0;
  padding: 0;
}
.box {
  margin: 100px auto;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
.box1,
.box2,
.box3,
.box4 {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  color: whitesmoke;
}

.box11,
.box21,
.box31,
.box41 {
  width: 330px;
  height: 350px;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.box11 h2,
.box21 h2,
.box31 h2,
.box41 h2 {
  margin: 20px auto 0;
  margin-left: 20px;
  font-size: 30px;
  line-height: 35px;
}
.box11 > div,
.box21 > div,
.box31 > div,
.box41 > div {
  width: 330px;
  height: 150px;
  background-color: brown;
  display: flex;
}
.keep {
  font-size: 40px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.tarn {
  margin: 0;
  width: 150px;
  /* height: 150px; */
  display: block;
  transform: rotate(90deg);
  font-size: 120px;
  line-height: 130px;
  font-weight: 100;
  align-items: center;
  text-align: center;
}
.box11 p,
.box21 p,
.box31 p,
.box41 p {
  margin: auto;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 3px;
}
.box12,
.box32 {
  width: 400px;
  height: 280px;
  background-color: rgba(200, 200, 200, 0.2);
}
.box22,
.box42 {
  width: 500px;
  height: 350px;
  background-color: rgba(200, 200, 200, 0.2);
}
.box13,
.box23,
.box33,
.box43 {
  width: 650px;
  height: 350px;
  background-color: chocolate;
}
.box13 img,
.box23 img,
.box33 img,
.box43 img {
  width: 100%;
  height: 100%;
}
.box14,
.box24,
.box34,
.box44 {
  width: 650px;
  height: 280px;
  background-color: #bbb;
  /* display: flex;
  flex-direction: column; */
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 26px;
}
.box14 h3,
.box24 h3,
.box34 h3,
.box44 h3 {
  margin: 20px auto 0 30px;
  font-size: 20px;
  color: red;
}
.box14 h3::after,
.box24 h3::after,
.box34 h3::after,
.box44 h3::after {
  content: "";
  border: 2px red solid;
  display: inline-block;
  width: 350px;
  position: relative;
  bottom: 5px;
}
.box14 h4,
.box24 h4,
.box34 h4,
.box44 h4 {
  margin: 5px auto 5px 30px;
  display: inline-block;
  background-color: black;
  color: white;
}
.box14 div,
.box24 div,
.box34 div,
.box44 div {
  margin: auto;
  margin-left: 45px;
  color: black;
}
.box14 div::before,
.box24 div::before,
.box34 div::before,
.box44 div::before {
  content: "";
  border: 5px red solid;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  margin: 8px 0px;
}
/* .box14 li,
.box24 li,
.box34 li,
.box44 li {
  color: red;
  margin: 0px auto 0px 40px;
}
.box14 li > div,
.box24 li > div,
.box34 li > div,
.box44 li > div {
  height: 36px;
  color: black;
  position: relative;
  right: 10px;
} */
.box15,
.box25,
.box35,
.box45 {
  width: 80px;
  height: 50px;
  background-color: red;
  display: flex;
}
.box15 div,
.box25 div,
.box35 div,
.box45 div {
  count: "";
  display: flex;
  width: 40px;
  margin: auto;
  margin-left: 30px;
  border-bottom: 15px transparent solid;
  border-left: 30px white solid;
  border-top: 15px transparent solid;
  border-right: 15px transparent solid;
}

/* 四大區塊五小塊先畫 */
.box11 {
  position: relative;
  z-index: 3;
}
.box12 {
  position: relative;
  left: 170px;
  top: 50px;
  z-index: 1;
}
.box13 {
  position: relative;
  bottom: 200px;
  left: 200px;
  z-index: 2;
}
.box14 {
  position: relative;
  z-index: 3;
  bottom: 250px;
  left: 50px;
}
.box15 {
  position: relative;
  z-index: 3;
  bottom: 400px;
  left: 150px;
}
/* 第一區塊 */
.box21 {
  position: relative;
  z-index: 3;
  left: 570px;
}
.box22 {
  position: relative;
  z-index: 1;
  top: 50px;
  right: 100px;
}
.box23 {
  position: relative;
  z-index: 2;
  bottom: 200px;
}
.box24 {
  position: relative;
  z-index: 3;
  bottom: 250px;
  left: 250px;
}
.box25 {
  position: relative;
  z-index: 3;
  bottom: 400px;
  right: 680px;
}
/* 第二區塊 */
.box31 {
  position: relative;
  z-index: 3;
}
.box32 {
  position: relative;
  z-index: 1;
  left: 170px;
  top: 50px;
}
.box33 {
  position: relative;
  bottom: 200px;
  left: 200px;
  z-index: 2;
}
.box34 {
  position: relative;
  z-index: 3;
  bottom: 250px;
  left: 50px;
}
.box35 {
  position: relative;
  z-index: 3;
  bottom: 400px;
  left: 150px;
}
/* 第三區塊 */
.box41 {
  position: relative;
  z-index: 3;
  left: 570px;
}
.box42 {
  position: relative;
  z-index: 1;
  top: 50px;
  right: 100px;
}
.box43 {
  position: relative;
  z-index: 2;
  bottom: 200px;
}
.box44 {
  position: relative;
  z-index: 3;
  bottom: 250px;
  left: 250px;
}
.box45 {
  position: relative;
  z-index: 3;
  bottom: 400px;
  right: 680px;
}
/* 其實1,3跟2,4這兩個排列方式一樣..... */

.flex {
  width: 1100px;
  margin: auto;
  border: 1px black solid;
  position: relative;
  z-index: 4;
  bottom: 200px;
  display: flex;
  flex-wrap: wrap;
}
.goodshoder {
  margin: auto;
  width: 200px;
  height: 300px;
}
.goods {
  margin: auto;
  width: 200px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.goods img {
  width: 200px;
  height: 160px;
}
.intro {
  font-size: 10px;
  width: 178px;
  height: 100px;
  margin: auto;
  letter-spacing: 5px;
}
.quan {
  font-size: 10px;
  font-weight: normal;
  margin: auto 10px;
}
.goods::before {
  content: "6";
  font-size: 16px;
  position: absolute;
  right: 20px;
  top: 5px;
}
.goods::after {
  content: "";
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 0;
  padding: 0;
  border-top: rgba(243, 243, 26, 0.6) 22px solid;
  border-bottom: transparent 22px solid;
  border-right: rgba(243, 243, 26, 0.6) 20px solid;
  border-left: rgba(243, 243, 26, 0.6) 20px solid;
}
.goods:hover {
  border: 1px tomato solid;
  position: relative;
  top: -5px;
  z-index: 1;
}
.goodshoder:hover::after {
  content: "找寵物";
  background-color: tomato;
  font-size: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: block;
  top: -5px;
  width: 200px;
  border: tomato 1px solid;
}
